<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recruter">
            <h2><span>Recruter</span> {{recruter.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{recruter.phoneNumber}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{recruter.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recruter', recruter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
