<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Inscription</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Souscription sauvegardée!</strong> Veuillez vérifier votre email pour la confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Souscription échouée!</strong> Veuillez réessayer ultérieurement.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Le nom d'utilisateur est déjà utilisé!</strong> Veuillez choisir un autre.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>l'adresse email est déjà utilisée!</strong> Veuillez choisir une autre.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et la confirmation ne matchent pas!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Votre nom d'utilisateur est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Votre nom d'utilisateur doit être au moins sur 1 carctère.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Votre nom d'utilisateur ne doit pas dépasser 50 carctères.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Votre nom d'utilisateur ne peut contenir que des chiffres et des lettres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Your email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Votre email est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Votre email est invalide.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Votre email doit être sur au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Votre email ne doit pas dépasser les 100 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Votre mot de passe est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Votre mot de passe doit être au moins sur 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Votre mot de passe ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Votre confirmation est requise.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Votre confirmation de mot de passe ne doit pas dépasser les 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Votre confirmation de mot de passe ne doit pas dépasser les 50 caractères.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">S'inscrire</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>Si vous voulez vous </span>
                <a class="alert-link" (click)="openLogin()">connecter</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
        </div>
    </div>
</div>
