<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Coopt-it activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Votre compte coop-it a été crée, veuillez clicker sur l'URL ci-dessous pour l'activer:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/activate?key=${user.activationKey}|})" th:href="${url}"
            th:text="${url}">Lien d'activiation</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Cordialement, </span>
            <br/>
            <em th:text="#{email.signature}">Coopt-it team.</em>
        </p>
    </body>
</html>
