<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Coopt-it réinitialisation de mot de passe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            Une demande de réinitialisation de mot de passe a été demandé, veuillez cliquer sur l'URL ci-dessous pour réinitialiser
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Lien Login</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Cordialement, </span>
            <br/>
            <em th:text="#{email.signature}">Coopt-it team.</em>
        </p>
    </body>
</html>
