<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Réinitialisation de mot de passe</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>L'adresse email n'est pas inscrite!</strong> Veuillez vérifier et réessayer.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Saisissez votre adresse mail pour vous inscrire.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Vérifier vos emails pour les détails de réinitialisation de votre mot de passe.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Votre email est requis.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Votre email est invalide.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Votre email doit avoir au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Votre email ne doit pas dépasser 100 carcatères.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Réinitialiser</button>
            </form>
        </div>
    </div>
</div>
